{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}

<div class="nav-container">



  <nav class="nav-1">
    <div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-4">
            <a href="#" class="logotext">imagify.co</a>
          </div>

          <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
            <div class="mobile-toggle">
              <div class="upper"></div>
              <div class="middle"></div>
              <div class="lower"></div>
            </div>
          </div>

          <div class="col-md-6 text-right col-sm-12 col-xs-12">
            <ul class="menu">
              <li><a href="/awesome">Why so awesome?</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>

</div>

<div class="main-container">
  <section class="header header-8 dark-primary-color">
    <div class="header-upper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="text-white">Resize, Crop,
              <strong>Manipulate.</strong>
            </h2>
            <h5 class="text-white">Process your images on the fly.</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="header-lower">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4 style="font-size: 20px;">
              <strong class="message">http://imagify.co/img?<i class="light-primary-color">token=047fg33&url=http://yourwebsite.com/images/hero.jpg&resize_width=700&resize_height=200</i> &nbsp;
                <span></span>
                <strong>
            </h4>
            <input type="text" name="email" class="email" placeholder="Enter email" />
            <a class="btn primary-text-color" href="#">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}