<!doctype html>
<html ng-app="imagify">

<head>
  <meta charset="utf-8">
  <title>Manipulate your images on the fly - imagify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block content %}{% endblock %} {% include "../includes/head.html" %}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>

<body>

  {% include "../includes/foot.html" %}
  <p class="text-center">&copy; 2015 imagify - All Rights Reserved</p>
  <p class="text-center trademark">
    <small>Made with <i style=color:#D32F2F;font-size:16px;>&hearts;</i> in NYC</small>
  </p>
  <img src="images/DO_Proudly_Hosted_Badge_Grey-1652c782.png" />
</body>

</html>