<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Variant HTML Builder by Medium Rare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {% block content %}{% endblock %} {% include "../includes/head.html" %}
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>

  {% block content %}{% endblock %} {% include "../includes/foot.html" %}

	</body>
</html>
